/* Styles for the contact form */
.contact-form {
    max-width: 400px;
    margin: auto;
    margin-top: 50px; /* Adjust the top margin as needed */
    background-color: #001d3a; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding for better spacing */
    border-radius: 8px; /* Optional: Add rounded corners */
    max-width: 600px; /* Limit form width */
    width: 100%;
    
  }
  
  .contact-form label {
    color: #99ccff; /* Light blue label color */
  }
  
  .contact-form .error-message {
    color: red;
    font-size: 14px;
  }
  
  .contact-form button[type="submit"] {
    background-color: #003366; /* Even darker purple on hover */
    color: #99ccff; /* Dark blue placeholder text color */
    border: 1px solid #99ccff;

  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #336699; /* Dark purple button background */
    color: #eef1f4; /* Dark blue placeholder text color */
    border: 1px solid white;


  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #336699; /* Dark blue placeholder text color */
  }
  
  .contact-form input {
    background-color: #f2f2f2; /* Light gray input background color */
    border: none;
    color: #003366; /* Dark blue text color for input */
    padding: 8px 10px; /* Adjust padding as needed */
    border-radius: 5px;
  }
  
  .contact-form textarea {
    background-color: #f2f2f2; /* Light gray textarea background color */
    border: none;
    color: #003366; /* Dark blue text color for textarea */
    padding: 8px 10px; /* Adjust padding as needed */
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  

  /* Apply styles to the entire page or container */
.contact-page {
    background-image: url('../assets/backgrounf.jpg'); /* Update with the correct path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    min-height: 100vh; /* Ensure it covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }
  

  
  .error-message {
    color: red;
  }
  