/* navbar.css */
.navbar-lilac {
    background-color: #003366; /* Dark blue background */
    color: #99ccff; /* Light blue label color */
    margin-bottom: 20px;
  }
  
  .navbar-lilac .nav-link {
    color: #99ccff !important; /* Ensure links are also light blue */
  }
  
  .navbar-lilac .navbar-brand {
    color: #99ccff !important; /* Ensure brand text is light blue */
  }
  
  
/* Adjusting cart icon position */
.cart-icon {
    margin-right: 120px; /* Adjust the margin-left as needed */
}