/* navbar.css */
.navbar-lilac {
    background-color: #001d3a; 
    color: #d0d5da; /* Light blue label color */
  }
  
  .navbar-lilac .nav-link {
    color: #d7dee4 !important; /* Ensure brand text is light blue */

  }
  
  .navbar-lilac .navbar-brand {
    color: #d7dee4 !important; /* Ensure brand text is light blue */
  }
  
  
/* Adjusting cart icon position */
.cart-icon {
    margin-right: 120px; /* Adjust the margin-left as needed */

}